@using Models
@model Order
@{
    ViewData["Title"] = "Catalog Page";
}
<body class="back">
    <div class="text-center">
        <h5>Содержимое вашей корзины: </h5>
        <h5>Каталог устройств:</h5>
        <table class="table">
            <thead>

            </thead>
            <tbody>
              
            </tbody>
        </table>
        <h4>
            <input type="button" value="Отменить заказ" 
                  onclick="location.href='@Url.Action("CleanBasket", "Basket")'" />
        </h4>
    </div>
</body>