@using Models
@model ShopService.Views.Order.OrderHomeModel
@{
    ViewData["Title"] = "Catalog Page";
}
<body class="back">
    <div class="text-center">
        <h1>Содержимое вашей корзины: </h1>
        <h2>Каталог устройств:</h2>
        <table class="table">
            <thead>

            </thead>
            <tbody>
              
            </tbody>
        </table>
        <h2>@Html.ActionLink("Отложить создание заказа", "GetBasket", "Basket")</h2>
        <br />
        <h2>@Html.ActionLink("Отменить заказ", "CreateOrder", "Order")<</h2>
    </div>
</body>