@page
@model AuthdService.Views.Account.IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт</h1>
    <p>Вы успешно вошли в свой аккаунт! Вы можете пользоваться системой!</p>
</div>